.c-input__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.c-input__field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid var(--grey);
  outline: 0;
  font-size: 1.3rem;
  color: var(--white);
  padding: 7px 0;
  background: transparent;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown {
    ~ .c-input__label {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }
  }
}

.c-input__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--grey);
}

.c-input__field:focus {
  ~ .c-input__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--green);
    font-weight: 700;
  }

  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--green), var(--green-secondary));
  border-image-slice: 1;
}

.c-input__field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}
